
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
 
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
[Bb]uilds/
[Oo]ut/
[Pp]ublish/

project.assets.json
project.nuget.cache
*.nuget.props
*.nuget.targets
*.nuget.dgspec.json
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
*.snupkg

*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
.vs/
.vshistory/

*.cache
*.AssemblyReference.cache
*.CoreCompileInputs.cache
*.GeneratedMSBuildEditorConfig.editorconfig
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache
*.sourcelink.json

*.dll
*.exe
*.pdb
*.so
*.dylib

*.keystore
*.jks
[Pp]latforms/[Aa]ndroid/**/bin/
[Pp]latforms/[Aa]ndroid/**/obj/

*.ipa
*.app
.DS_Store
 
.idea/
.vscode/

*.tmp
*.temp
*~
*.swp
 