USE [master]
GO
/****** Object:  Database [EasyImmo0]    Script Date: 31-05-26 22:52:51 ******/
CREATE DATABASE [EasyImmo0]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EasyImmo0', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EasyImmo0.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EasyImmo0_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EasyImmo0_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EasyImmo0].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EasyImmo0]
GO
/****** Object:  Table [dbo].[Acheteur]    Script Date: 31-05-26 22:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acheteur](
	[id_ach] [int] IDENTITY(1,1) NOT NULL,
	[budget_max_ach] [decimal](18, 0) NULL,
	[zone_souhaite_ach] [nvarchar](50) NULL,
	[id_personne] [int] NULL,
 CONSTRAINT [PK_Acheteur] PRIMARY KEY CLUSTERED 
(
	[id_ach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Activite]    Script Date: 31-05-26 22:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activite](
	[id_activite] [int] IDENTITY(1,1) NOT NULL,
	[libelle_activite] [nvarchar](50) NULL,
	[duree_activite] [time](7) NULL,
	[date_activite] [datetime2](7) NULL,
	[id_bien] [int] NOT NULL,
	[id_type] [int] NOT NULL,
	[id_planning] [int] NULL,
 CONSTRAINT [PK_activite] PRIMARY KEY CLUSTERED 
(
	[id_activite] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Adresse]    Script Date: 31-05-26 22:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adresse](
	[id_adresse] [int] IDENTITY(1,1) NOT NULL,
	[rue] [nvarchar](255) NULL,
	[numero] [nvarchar](10) NULL,
	[ville] [nvarchar](100) NULL,
	[code_postal] [nvarchar](20) NULL,
	[pays] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_adresse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bien]    Script Date: 31-05-26 22:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bien](
	[id_bien] [int] IDENTITY(1,1) NOT NULL,
	[prix_bien] [decimal](18, 0) NOT NULL,
	[surfaces_bien] [decimal](18, 0) NULL,
	[description_bien] [nvarchar](50) NULL,
	[date_publication_bien] [datetime2](7) NULL,
	[id_contrat] [int] NULL,
	[id_ty] [int] NULL,
	[id_adresse] [int] NULL,
	[nom_bien] [nvarchar](100) NULL,
	[id_status] [int] NULL,
	[date_changement_status] [datetime] NULL,
 CONSTRAINT [PK_Bien] PRIMARY KEY CLUSTERED 
(
	[id_bien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contrat]    Script Date: 31-05-26 22:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contrat](
	[id_contrat] [int] IDENTITY(1,1) NOT NULL,
	[description_operation] [nvarchar](50) NULL,
	[date_operation] [datetime2](7) NULL,
	[id_emp] [int] NULL,
	[type_contrat] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_OperationImmobiliere] PRIMARY KEY CLUSTERED 
(
	[id_contrat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentBien]    Script Date: 31-05-26 22:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentBien](
	[id_doc] [int] IDENTITY(1,1) NOT NULL,
	[description_doc] [nvarchar](max) NULL,
	[id_bien] [int] NULL,
 CONSTRAINT [PK_DocumentBien] PRIMARY KEY CLUSTERED 
(
	[id_doc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EffectuerOperationPersonne]    Script Date: 31-05-26 22:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EffectuerOperationPersonne](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_contrat] [int] NULL,
	[id_personne] [int] NULL,
	[type_personne] [nvarchar](50) NULL,
 CONSTRAINT [PK_EffectuerOperationPersonne] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employe]    Script Date: 31-05-26 22:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employe](
	[id_emp] [int] IDENTITY(1,1) NOT NULL,
	[role_emp] [nvarchar](50) NULL,
	[id_personne] [int] NOT NULL,
 CONSTRAINT [PK_employe] PRIMARY KEY CLUSTERED 
(
	[id_emp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoriqueStatusBien]    Script Date: 31-05-26 22:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoriqueStatusBien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_sta] [int] NULL,
	[id_bien] [int] NULL,
	[nombre_bien_visite] [int] NULL,
	[nombre_bien_vendu] [int] NULL,
 CONSTRAINT [PK_HistoriqueStatusBien] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locataire]    Script Date: 31-05-26 22:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locataire](
	[id_locataire] [int] IDENTITY(1,1) NOT NULL,
	[montant_max] [decimal](18, 0) NULL,
	[id_personne] [int] NOT NULL,
 CONSTRAINT [PK_Locataire] PRIMARY KEY CLUSTERED 
(
	[id_locataire] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MoyenContact]    Script Date: 31-05-26 22:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MoyenContact](
	[id_contact] [int] IDENTITY(1,1) NOT NULL,
	[type_contact] [nvarchar](50) NOT NULL,
	[valeur] [nvarchar](255) NOT NULL,
	[id_personne] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_contact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoteBien]    Script Date: 31-05-26 22:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoteBien](
	[id_note] [int] IDENTITY(1,1) NOT NULL,
	[id_activite] [int] NOT NULL,
	[id_bien] [int] NOT NULL,
	[id_personne] [int] NOT NULL,
	[note] [int] NOT NULL,
	[commentaire] [nvarchar](255) NULL,
	[date_note] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_note] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParticiperActivitePersonne]    Script Date: 31-05-26 22:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParticiperActivitePersonne](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_activite] [int] NULL,
	[id_personne] [int] NULL,
	[but] [nvarchar](50) NULL,
 CONSTRAINT [PK_ParticiperActivitePersonne] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personnes]    Script Date: 31-05-26 22:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personnes](
	[id_personne] [int] IDENTITY(1,1) NOT NULL,
	[nom_personne] [nvarchar](50) NOT NULL,
	[prenom_personne] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Personnes] PRIMARY KEY CLUSTERED 
(
	[id_personne] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planning]    Script Date: 31-05-26 22:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planning](
	[id_planning] [int] IDENTITY(1,1) NOT NULL,
	[description_planning] [nvarchar](50) NULL,
	[id_activite] [int] NULL,
 CONSTRAINT [PK_Planning] PRIMARY KEY CLUSTERED 
(
	[id_planning] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PossederBienProprietaire]    Script Date: 31-05-26 22:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PossederBienProprietaire](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_bien] [int] NULL,
	[id_pro] [int] NULL,
	[annee_acquisition] [datetime2](7) NULL,
 CONSTRAINT [PK_PossederBienProprietaire] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proprietaire]    Script Date: 31-05-26 22:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proprietaire](
	[id_pro] [int] IDENTITY(1,1) NOT NULL,
	[type_pro] [nvarchar](50) NULL,
	[id_personnes] [int] NULL,
 CONSTRAINT [PK_Proprietaire] PRIMARY KEY CLUSTERED 
(
	[id_pro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatutBien]    Script Date: 31-05-26 22:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatutBien](
	[id_sta] [int] IDENTITY(1,1) NOT NULL,
	[libelle_sta] [nvarchar](50) NULL,
	[date_mise_jour_sta] [datetime2](7) NULL,
 CONSTRAINT [PK_StatutBien] PRIMARY KEY CLUSTERED 
(
	[id_sta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeActivite]    Script Date: 31-05-26 22:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeActivite](
	[id_type] [int] IDENTITY(1,1) NOT NULL,
	[description_type] [nvarchar](50) NULL,
 CONSTRAINT [PK_TypeActivite] PRIMARY KEY CLUSTERED 
(
	[id_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeBien]    Script Date: 31-05-26 22:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeBien](
	[id_ty] [int] IDENTITY(1,1) NOT NULL,
	[description_type] [nvarchar](max) NULL,
 CONSTRAINT [PK_TypeBien] PRIMARY KEY CLUSTERED 
(
	[id_ty] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Acheteur] ON 

INSERT [dbo].[Acheteur] ([id_ach], [budget_max_ach], [zone_souhaite_ach], [id_personne]) VALUES (8, CAST(5682 AS Decimal(18, 0)), N'namur', 26)
INSERT [dbo].[Acheteur] ([id_ach], [budget_max_ach], [zone_souhaite_ach], [id_personne]) VALUES (13, CAST(4556 AS Decimal(18, 0)), N'bruxelle', 36)
INSERT [dbo].[Acheteur] ([id_ach], [budget_max_ach], [zone_souhaite_ach], [id_personne]) VALUES (14, CAST(455 AS Decimal(18, 0)), N'charleroi', 48)
SET IDENTITY_INSERT [dbo].[Acheteur] OFF
GO
SET IDENTITY_INSERT [dbo].[Activite] ON 

INSERT [dbo].[Activite] ([id_activite], [libelle_activite], [duree_activite], [date_activite], [id_bien], [id_type], [id_planning]) VALUES (1, N'Visite client Dupont', CAST(N'01:00:00' AS Time), CAST(N'2026-03-16T11:25:00.0000000' AS DateTime2), 24, 1, 1)
INSERT [dbo].[Activite] ([id_activite], [libelle_activite], [duree_activite], [date_activite], [id_bien], [id_type], [id_planning]) VALUES (2, N'Demande info par téléphone', NULL, CAST(N'2026-03-11T11:26:10.4166667' AS DateTime2), 2, 1, 1)
INSERT [dbo].[Activite] ([id_activite], [libelle_activite], [duree_activite], [date_activite], [id_bien], [id_type], [id_planning]) VALUES (6, N'vitxtxdtyv', CAST(N'01:00:00' AS Time), CAST(N'2026-05-28T09:00:00.0000000' AS DateTime2), 8, 4, NULL)
SET IDENTITY_INSERT [dbo].[Activite] OFF
GO
SET IDENTITY_INSERT [dbo].[Adresse] ON 

INSERT [dbo].[Adresse] ([id_adresse], [rue], [numero], [ville], [code_postal], [pays]) VALUES (1, N'Rue des Fleurs', N'12', N'Charleroi', N'6000', N'Belgique')
INSERT [dbo].[Adresse] ([id_adresse], [rue], [numero], [ville], [code_postal], [pays]) VALUES (2, N'Avenue du Parc', N'8', N'Namur', N'5000', N'Belgique')
INSERT [dbo].[Adresse] ([id_adresse], [rue], [numero], [ville], [code_postal], [pays]) VALUES (3, N'Rue du Centre', N'45', N'Liège', N'4000', N'Belgique')
SET IDENTITY_INSERT [dbo].[Adresse] OFF
GO
SET IDENTITY_INSERT [dbo].[Bien] ON 

INSERT [dbo].[Bien] ([id_bien], [prix_bien], [surfaces_bien], [description_bien], [date_publication_bien], [id_contrat], [id_ty], [id_adresse], [nom_bien], [id_status], [date_changement_status]) VALUES (2, CAST(185000 AS Decimal(18, 0)), CAST(95 AS Decimal(18, 0)), N'Bel appartement lumineux au centre ville', CAST(N'2024-01-05T00:00:00.0000000' AS DateTime2), NULL, 1, 7, N'Maison Familiale', 3, CAST(N'2026-05-15T09:47:34.690' AS DateTime))
INSERT [dbo].[Bien] ([id_bien], [prix_bien], [surfaces_bien], [description_bien], [date_publication_bien], [id_contrat], [id_ty], [id_adresse], [nom_bien], [id_status], [date_changement_status]) VALUES (8, CAST(350000 AS Decimal(18, 0)), CAST(160 AS Decimal(18, 0)), N'Villa avec piscine', CAST(N'2024-01-11T00:00:00.0000000' AS DateTime2), NULL, 1, 7, N'Verdi House', 3, CAST(N'2026-05-31T08:43:58.800' AS DateTime))
INSERT [dbo].[Bien] ([id_bien], [prix_bien], [surfaces_bien], [description_bien], [date_publication_bien], [id_contrat], [id_ty], [id_adresse], [nom_bien], [id_status], [date_changement_status]) VALUES (9, CAST(175000 AS Decimal(18, 0)), CAST(85 AS Decimal(18, 0)), N'Appartement lumineux', CAST(N'2024-01-12T00:00:00.0000000' AS DateTime2), NULL, 1, 8, N'Appartement T3', 1, CAST(N'2026-05-15T01:14:10.230' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bien] OFF
GO
SET IDENTITY_INSERT [dbo].[Contrat] ON 

INSERT [dbo].[Contrat] ([id_contrat], [description_operation], [date_operation], [id_emp], [type_contrat]) VALUES (11, N'tfdyiu', CAST(N'2026-05-31T00:00:00.0000000' AS DateTime2), 9, N'Location')
INSERT [dbo].[Contrat] ([id_contrat], [description_operation], [date_operation], [id_emp], [type_contrat]) VALUES (12, N'maison bamenda', CAST(N'2026-05-31T00:00:00.0000000' AS DateTime2), 9, N'Location')
INSERT [dbo].[Contrat] ([id_contrat], [description_operation], [date_operation], [id_emp], [type_contrat]) VALUES (13, N'maison h', CAST(N'2026-05-31T00:00:00.0000000' AS DateTime2), 9, N'Location')
SET IDENTITY_INSERT [dbo].[Contrat] OFF
GO
SET IDENTITY_INSERT [dbo].[DocumentBien] ON 

INSERT [dbo].[DocumentBien] ([id_doc], [description_doc], [id_bien]) VALUES (2, N'PHOTO:C:\Users\Utilisateur\AppData\Local\User Name\com.companyname.easyimmomaui\Data\biens\30\20260530172954_Capture d''écran 2026-02-18 092951.png', 30)
INSERT [dbo].[DocumentBien] ([id_doc], [description_doc], [id_bien]) VALUES (3, N'PHOTO:C:\Users\Utilisateur\AppData\Local\User Name\com.companyname.easyimmomaui\Data\biens\30\20260530172954_Capture d''écran 2026-05-20 104404.png', 30)
INSERT [dbo].[DocumentBien] ([id_doc], [description_doc], [id_bien]) VALUES (4, N'PDF:20260530234009_3.Convention de stage_verdiane.pdf (3.Convention de stage_verdiane.pdf)', 2)
SET IDENTITY_INSERT [dbo].[DocumentBien] OFF
GO
SET IDENTITY_INSERT [dbo].[EffectuerOperationPersonne] ON 

INSERT [dbo].[EffectuerOperationPersonne] ([id], [id_contrat], [id_personne], [type_personne]) VALUES (16, 11, 29, N'Locataire')
INSERT [dbo].[EffectuerOperationPersonne] ([id], [id_contrat], [id_personne], [type_personne]) VALUES (17, 11, 38, N'Propriétaire')
INSERT [dbo].[EffectuerOperationPersonne] ([id], [id_contrat], [id_personne], [type_personne]) VALUES (18, 12, 27, N'Locataire')
SET IDENTITY_INSERT [dbo].[EffectuerOperationPersonne] OFF
GO
SET IDENTITY_INSERT [dbo].[Employe] ON 

INSERT [dbo].[Employe] ([id_emp], [role_emp], [id_personne]) VALUES (9, N'gcyghg', 46)
INSERT [dbo].[Employe] ([id_emp], [role_emp], [id_personne]) VALUES (10, N'agent', 48)
INSERT [dbo].[Employe] ([id_emp], [role_emp], [id_personne]) VALUES (11, N'agent', 53)
SET IDENTITY_INSERT [dbo].[Employe] OFF
GO
SET IDENTITY_INSERT [dbo].[HistoriqueStatusBien] ON 

INSERT [dbo].[HistoriqueStatusBien] ([id], [id_sta], [id_bien], [nombre_bien_visite], [nombre_bien_vendu]) VALUES (2, 1, 2, 0, 0)
SET IDENTITY_INSERT [dbo].[HistoriqueStatusBien] OFF
GO
SET IDENTITY_INSERT [dbo].[Locataire] ON 

INSERT [dbo].[Locataire] ([id_locataire], [montant_max], [id_personne]) VALUES (16, CAST(256 AS Decimal(18, 0)), 27)
INSERT [dbo].[Locataire] ([id_locataire], [montant_max], [id_personne]) VALUES (17, CAST(4565 AS Decimal(18, 0)), 29)
INSERT [dbo].[Locataire] ([id_locataire], [montant_max], [id_personne]) VALUES (20, CAST(596 AS Decimal(18, 0)), 47)
SET IDENTITY_INSERT [dbo].[Locataire] OFF
GO
SET IDENTITY_INSERT [dbo].[MoyenContact] ON 

INSERT [dbo].[MoyenContact] ([id_contact], [type_contact], [valeur], [id_personne]) VALUES (107, N'Email', N'sangue@gmail.com', 26)
INSERT [dbo].[MoyenContact] ([id_contact], [type_contact], [valeur], [id_personne]) VALUES (108, N'Telephone', N'0465230568', 26)
INSERT [dbo].[MoyenContact] ([id_contact], [type_contact], [valeur], [id_personne]) VALUES (109, N'Email', N'ver@gmail.com', 27)
SET IDENTITY_INSERT [dbo].[MoyenContact] OFF
GO
SET IDENTITY_INSERT [dbo].[NoteBien] ON 

INSERT [dbo].[NoteBien] ([id_note], [id_activite], [id_bien], [id_personne], [note], [commentaire], [date_note]) VALUES (1, 1, 24, 26, 5, N'cggh n,', CAST(N'2026-05-31' AS Date))
INSERT [dbo].[NoteBien] ([id_note], [id_activite], [id_bien], [id_personne], [note], [commentaire], [date_note]) VALUES (2, 7, 8, 38, 5, N'gcgh,', CAST(N'2026-05-31' AS Date))
INSERT [dbo].[NoteBien] ([id_note], [id_activite], [id_bien], [id_personne], [note], [commentaire], [date_note]) VALUES (3, 10, 17, 35, 4, N' vb ;,:, nbn,', CAST(N'2026-05-31' AS Date))
SET IDENTITY_INSERT [dbo].[NoteBien] OFF
GO
SET IDENTITY_INSERT [dbo].[ParticiperActivitePersonne] ON 

INSERT [dbo].[ParticiperActivitePersonne] ([id], [id_activite], [id_personne], [but]) VALUES (6, 1, 26, N'Participant')
INSERT [dbo].[ParticiperActivitePersonne] ([id], [id_activite], [id_personne], [but]) VALUES (10, 6, 27, N'Participant')
INSERT [dbo].[ParticiperActivitePersonne] ([id], [id_activite], [id_personne], [but]) VALUES (11, 7, 38, N'Participant')
SET IDENTITY_INSERT [dbo].[ParticiperActivitePersonne] OFF
GO
SET IDENTITY_INSERT [dbo].[Personnes] ON 

INSERT [dbo].[Personnes] ([id_personne], [nom_personne], [prenom_personne]) VALUES (26, N'wandah', N'sangue')
INSERT [dbo].[Personnes] ([id_personne], [nom_personne], [prenom_personne]) VALUES (27, N'verdiane', N'hjhdhhd')
INSERT [dbo].[Personnes] ([id_personne], [nom_personne], [prenom_personne]) VALUES (28, N'hjsbjdvlb ', N'zzjhbkjd')
SET IDENTITY_INSERT [dbo].[Personnes] OFF
GO
SET IDENTITY_INSERT [dbo].[Planning] ON 

INSERT [dbo].[Planning] ([id_planning], [description_planning], [id_activite]) VALUES (1, N'Planning des activites', NULL)
SET IDENTITY_INSERT [dbo].[Planning] OFF
GO
SET IDENTITY_INSERT [dbo].[PossederBienProprietaire] ON 

INSERT [dbo].[PossederBienProprietaire] ([id], [id_bien], [id_pro], [annee_acquisition]) VALUES (5, 30, 14, CAST(N'2026-05-31T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[PossederBienProprietaire] ([id], [id_bien], [id_pro], [annee_acquisition]) VALUES (6, 29, 14, CAST(N'2026-05-31T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[PossederBienProprietaire] ([id], [id_bien], [id_pro], [annee_acquisition]) VALUES (7, 8, 14, CAST(N'2026-05-31T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PossederBienProprietaire] OFF
GO
SET IDENTITY_INSERT [dbo].[Proprietaire] ON 

INSERT [dbo].[Proprietaire] ([id_pro], [type_pro], [id_personnes]) VALUES (11, N'Particulier', 28)
INSERT [dbo].[Proprietaire] ([id_pro], [type_pro], [id_personnes]) VALUES (14, N'Particulier', 38)
INSERT [dbo].[Proprietaire] ([id_pro], [type_pro], [id_personnes]) VALUES (15, N'Societe', 51)
SET IDENTITY_INSERT [dbo].[Proprietaire] OFF
GO
SET IDENTITY_INSERT [dbo].[StatutBien] ON 

INSERT [dbo].[StatutBien] ([id_sta], [libelle_sta], [date_mise_jour_sta]) VALUES (1, N'a vendre', CAST(N'2026-03-16T11:02:54.0633333' AS DateTime2))
INSERT [dbo].[StatutBien] ([id_sta], [libelle_sta], [date_mise_jour_sta]) VALUES (2, N'Sous-option', CAST(N'2026-03-16T11:03:18.8600000' AS DateTime2))
INSERT [dbo].[StatutBien] ([id_sta], [libelle_sta], [date_mise_jour_sta]) VALUES (3, N'Vendu', CAST(N'2026-03-16T11:03:31.1500000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[StatutBien] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeActivite] ON 

INSERT [dbo].[TypeActivite] ([id_type], [description_type]) VALUES (1, N'Visite')
INSERT [dbo].[TypeActivite] ([id_type], [description_type]) VALUES (2, N'Appel téléphonique')
INSERT [dbo].[TypeActivite] ([id_type], [description_type]) VALUES (3, N'Envoi email')
SET IDENTITY_INSERT [dbo].[TypeActivite] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeBien] ON 

INSERT [dbo].[TypeBien] ([id_ty], [description_type]) VALUES (1, N'appartement')
INSERT [dbo].[TypeBien] ([id_ty], [description_type]) VALUES (2, N'maison')
INSERT [dbo].[TypeBien] ([id_ty], [description_type]) VALUES (3, N'Terrain')
SET IDENTITY_INSERT [dbo].[TypeBien] OFF
GO
ALTER TABLE [dbo].[Contrat] ADD  DEFAULT ('Vente') FOR [type_contrat]
GO
ALTER TABLE [dbo].[NoteBien] ADD  DEFAULT (CONVERT([date],getdate())) FOR [date_note]
GO
ALTER TABLE [dbo].[Acheteur]  WITH CHECK ADD  CONSTRAINT [FK_Acheteur_Personnes] FOREIGN KEY([id_personne])
REFERENCES [dbo].[Personnes] ([id_personne])
GO
ALTER TABLE [dbo].[Acheteur] CHECK CONSTRAINT [FK_Acheteur_Personnes]
GO
ALTER TABLE [dbo].[Activite]  WITH CHECK ADD  CONSTRAINT [FK_Activite_Planning] FOREIGN KEY([id_activite])
REFERENCES [dbo].[Activite] ([id_activite])
GO
ALTER TABLE [dbo].[Activite] CHECK CONSTRAINT [FK_Activite_Planning]
GO
ALTER TABLE [dbo].[Bien]  WITH CHECK ADD  CONSTRAINT [FK_Bien_Adresse] FOREIGN KEY([id_adresse])
REFERENCES [dbo].[Adresse] ([id_adresse])
GO
ALTER TABLE [dbo].[Bien] CHECK CONSTRAINT [FK_Bien_Adresse]
GO
ALTER TABLE [dbo].[Bien]  WITH CHECK ADD  CONSTRAINT [FK_Bien_Contrat] FOREIGN KEY([id_contrat])
REFERENCES [dbo].[Contrat] ([id_contrat])
GO
ALTER TABLE [dbo].[Bien] CHECK CONSTRAINT [FK_Bien_Contrat]
GO
ALTER TABLE [dbo].[Bien]  WITH CHECK ADD  CONSTRAINT [FK_Bien_StatutBien] FOREIGN KEY([id_status])
REFERENCES [dbo].[StatutBien] ([id_sta])
GO
ALTER TABLE [dbo].[Bien] CHECK CONSTRAINT [FK_Bien_StatutBien]
GO
ALTER TABLE [dbo].[Bien]  WITH CHECK ADD  CONSTRAINT [FK_Bien_TypeBien] FOREIGN KEY([id_ty])
REFERENCES [dbo].[TypeBien] ([id_ty])
GO
ALTER TABLE [dbo].[Bien] CHECK CONSTRAINT [FK_Bien_TypeBien]
GO
ALTER TABLE [dbo].[Contrat]  WITH CHECK ADD  CONSTRAINT [FK_OperationImmobiliere_Employe] FOREIGN KEY([id_emp])
REFERENCES [dbo].[Employe] ([id_emp])
GO
ALTER TABLE [dbo].[Contrat] CHECK CONSTRAINT [FK_OperationImmobiliere_Employe]
GO
ALTER TABLE [dbo].[DocumentBien]  WITH CHECK ADD  CONSTRAINT [FK_DocumentBien_Bien] FOREIGN KEY([id_bien])
REFERENCES [dbo].[Bien] ([id_bien])
GO
ALTER TABLE [dbo].[DocumentBien] CHECK CONSTRAINT [FK_DocumentBien_Bien]
GO
ALTER TABLE [dbo].[EffectuerOperationPersonne]  WITH CHECK ADD  CONSTRAINT [FK_EffectuerOperationPersonne_Contrat] FOREIGN KEY([id_contrat])
REFERENCES [dbo].[Contrat] ([id_contrat])
GO
ALTER TABLE [dbo].[EffectuerOperationPersonne] CHECK CONSTRAINT [FK_EffectuerOperationPersonne_Contrat]
GO
ALTER TABLE [dbo].[EffectuerOperationPersonne]  WITH CHECK ADD  CONSTRAINT [FK_EffectuerOperationPersonne_Personnes] FOREIGN KEY([id_personne])
REFERENCES [dbo].[Personnes] ([id_personne])
GO
ALTER TABLE [dbo].[EffectuerOperationPersonne] CHECK CONSTRAINT [FK_EffectuerOperationPersonne_Personnes]
GO
ALTER TABLE [dbo].[HistoriqueStatusBien]  WITH NOCHECK ADD  CONSTRAINT [FK_HistoriqueStatusBien_Bien] FOREIGN KEY([id])
REFERENCES [dbo].[Bien] ([id_bien])
GO
ALTER TABLE [dbo].[HistoriqueStatusBien] CHECK CONSTRAINT [FK_HistoriqueStatusBien_Bien]
GO
ALTER TABLE [dbo].[HistoriqueStatusBien]  WITH NOCHECK ADD  CONSTRAINT [FK_HistoriqueStatusBien_StatutBien] FOREIGN KEY([id])
REFERENCES [dbo].[StatutBien] ([id_sta])
GO
ALTER TABLE [dbo].[HistoriqueStatusBien] CHECK CONSTRAINT [FK_HistoriqueStatusBien_StatutBien]
GO
ALTER TABLE [dbo].[Locataire]  WITH CHECK ADD  CONSTRAINT [FK_Locataire_Personnes] FOREIGN KEY([id_personne])
REFERENCES [dbo].[Personnes] ([id_personne])
GO
ALTER TABLE [dbo].[Locataire] CHECK CONSTRAINT [FK_Locataire_Personnes]
GO
ALTER TABLE [dbo].[ParticiperActivitePersonne]  WITH CHECK ADD  CONSTRAINT [FK_ParticiperActivitePersonne_Activite] FOREIGN KEY([id_activite])
REFERENCES [dbo].[Activite] ([id_activite])
GO
ALTER TABLE [dbo].[ParticiperActivitePersonne] CHECK CONSTRAINT [FK_ParticiperActivitePersonne_Activite]
GO
ALTER TABLE [dbo].[ParticiperActivitePersonne]  WITH CHECK ADD  CONSTRAINT [FK_ParticiperActivitePersonne_Personnes] FOREIGN KEY([id_personne])
REFERENCES [dbo].[Personnes] ([id_personne])
GO
ALTER TABLE [dbo].[ParticiperActivitePersonne] CHECK CONSTRAINT [FK_ParticiperActivitePersonne_Personnes]
GO
ALTER TABLE [dbo].[Planning]  WITH CHECK ADD  CONSTRAINT [FK_Planning_Activite] FOREIGN KEY([id_activite])
REFERENCES [dbo].[Activite] ([id_activite])
GO
ALTER TABLE [dbo].[Planning] CHECK CONSTRAINT [FK_Planning_Activite]
GO
ALTER TABLE [dbo].[PossederBienProprietaire]  WITH CHECK ADD  CONSTRAINT [FK_PossederBienProprietaire_Bien] FOREIGN KEY([id_bien])
REFERENCES [dbo].[Bien] ([id_bien])
GO
ALTER TABLE [dbo].[PossederBienProprietaire] CHECK CONSTRAINT [FK_PossederBienProprietaire_Bien]
GO
ALTER TABLE [dbo].[PossederBienProprietaire]  WITH CHECK ADD  CONSTRAINT [FK_PossederBienProprietaire_Proprietaire] FOREIGN KEY([id_pro])
REFERENCES [dbo].[Proprietaire] ([id_pro])
GO
ALTER TABLE [dbo].[PossederBienProprietaire] CHECK CONSTRAINT [FK_PossederBienProprietaire_Proprietaire]
GO
ALTER TABLE [dbo].[Proprietaire]  WITH CHECK ADD  CONSTRAINT [FK_Proprietaire_Personnes] FOREIGN KEY([id_personnes])
REFERENCES [dbo].[Personnes] ([id_personne])
GO
ALTER TABLE [dbo].[Proprietaire] CHECK CONSTRAINT [FK_Proprietaire_Personnes]
GO
ALTER TABLE [dbo].[TypeActivite]  WITH CHECK ADD  CONSTRAINT [FK_Activite_TypeActivite] FOREIGN KEY([id_type])
REFERENCES [dbo].[TypeActivite] ([id_type])
GO
ALTER TABLE [dbo].[TypeActivite] CHECK CONSTRAINT [FK_Activite_TypeActivite]
GO
ALTER TABLE [dbo].[NoteBien]  WITH CHECK ADD CHECK  (([note]>=(1) AND [note]<=(5)))
GO
USE [master]
GO
