USE [master]
GO
/****** Object:  Database [EasyImmo0]    Script Date: 31-05-26 22:36:03 ******/
CREATE DATABASE [EasyImmo0]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EasyImmo0', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EasyImmo0.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EasyImmo0_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EasyImmo0_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EasyImmo0].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EasyImmo0]
GO
/****** Object:  Table [dbo].[Acheteur]    Script Date: 31-05-26 22:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acheteur](
	[id_ach] [int] IDENTITY(1,1) NOT NULL,
	[budget_max_ach] [decimal](18, 0) NULL,
	[zone_souhaite_ach] [nvarchar](50) NULL,
	[id_personne] [int] NULL,
 CONSTRAINT [PK_Acheteur] PRIMARY KEY CLUSTERED 
(
	[id_ach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Activite]    Script Date: 31-05-26 22:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activite](
	[id_activite] [int] IDENTITY(1,1) NOT NULL,
	[libelle_activite] [nvarchar](50) NULL,
	[duree_activite] [time](7) NULL,
	[date_activite] [datetime2](7) NULL,
	[id_bien] [int] NOT NULL,
	[id_type] [int] NOT NULL,
	[id_planning] [int] NULL,
 CONSTRAINT [PK_activite] PRIMARY KEY CLUSTERED 
(
	[id_activite] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Adresse]    Script Date: 31-05-26 22:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adresse](
	[id_adresse] [int] IDENTITY(1,1) NOT NULL,
	[rue] [nvarchar](255) NULL,
	[numero] [nvarchar](10) NULL,
	[ville] [nvarchar](100) NULL,
	[code_postal] [nvarchar](20) NULL,
	[pays] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_adresse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bien]    Script Date: 31-05-26 22:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bien](
	[id_bien] [int] IDENTITY(1,1) NOT NULL,
	[prix_bien] [decimal](18, 0) NOT NULL,
	[surfaces_bien] [decimal](18, 0) NULL,
	[description_bien] [nvarchar](50) NULL,
	[date_publication_bien] [datetime2](7) NULL,
	[id_contrat] [int] NULL,
	[id_ty] [int] NULL,
	[id_adresse] [int] NULL,
	[nom_bien] [nvarchar](100) NULL,
	[id_status] [int] NULL,
	[date_changement_status] [datetime] NULL,
 CONSTRAINT [PK_Bien] PRIMARY KEY CLUSTERED 
(
	[id_bien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contrat]    Script Date: 31-05-26 22:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contrat](
	[id_contrat] [int] IDENTITY(1,1) NOT NULL,
	[description_operation] [nvarchar](50) NULL,
	[date_operation] [datetime2](7) NULL,
	[id_emp] [int] NULL,
	[type_contrat] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_OperationImmobiliere] PRIMARY KEY CLUSTERED 
(
	[id_contrat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentBien]    Script Date: 31-05-26 22:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentBien](
	[id_doc] [int] IDENTITY(1,1) NOT NULL,
	[description_doc] [nvarchar](max) NULL,
	[id_bien] [int] NULL,
 CONSTRAINT [PK_DocumentBien] PRIMARY KEY CLUSTERED 
(
	[id_doc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EffectuerOperationPersonne]    Script Date: 31-05-26 22:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EffectuerOperationPersonne](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_contrat] [int] NULL,
	[id_personne] [int] NULL,
	[type_personne] [nvarchar](50) NULL,
 CONSTRAINT [PK_EffectuerOperationPersonne] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employe]    Script Date: 31-05-26 22:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employe](
	[id_emp] [int] IDENTITY(1,1) NOT NULL,
	[role_emp] [nvarchar](50) NULL,
	[id_personne] [int] NOT NULL,
 CONSTRAINT [PK_employe] PRIMARY KEY CLUSTERED 
(
	[id_emp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoriqueStatusBien]    Script Date: 31-05-26 22:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoriqueStatusBien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_sta] [int] NULL,
	[id_bien] [int] NULL,
	[nombre_bien_visite] [int] NULL,
	[nombre_bien_vendu] [int] NULL,
 CONSTRAINT [PK_HistoriqueStatusBien] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locataire]    Script Date: 31-05-26 22:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locataire](
	[id_locataire] [int] IDENTITY(1,1) NOT NULL,
	[montant_max] [decimal](18, 0) NULL,
	[id_personne] [int] NOT NULL,
 CONSTRAINT [PK_Locataire] PRIMARY KEY CLUSTERED 
(
	[id_locataire] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MoyenContact]    Script Date: 31-05-26 22:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MoyenContact](
	[id_contact] [int] IDENTITY(1,1) NOT NULL,
	[type_contact] [nvarchar](50) NOT NULL,
	[valeur] [nvarchar](255) NOT NULL,
	[id_personne] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_contact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoteBien]    Script Date: 31-05-26 22:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoteBien](
	[id_note] [int] IDENTITY(1,1) NOT NULL,
	[id_activite] [int] NOT NULL,
	[id_bien] [int] NOT NULL,
	[id_personne] [int] NOT NULL,
	[note] [int] NOT NULL,
	[commentaire] [nvarchar](255) NULL,
	[date_note] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_note] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParticiperActivitePersonne]    Script Date: 31-05-26 22:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParticiperActivitePersonne](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_activite] [int] NULL,
	[id_personne] [int] NULL,
	[but] [nvarchar](50) NULL,
 CONSTRAINT [PK_ParticiperActivitePersonne] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personnes]    Script Date: 31-05-26 22:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personnes](
	[id_personne] [int] IDENTITY(1,1) NOT NULL,
	[nom_personne] [nvarchar](50) NOT NULL,
	[prenom_personne] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Personnes] PRIMARY KEY CLUSTERED 
(
	[id_personne] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planning]    Script Date: 31-05-26 22:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planning](
	[id_planning] [int] IDENTITY(1,1) NOT NULL,
	[description_planning] [nvarchar](50) NULL,
	[id_activite] [int] NULL,
 CONSTRAINT [PK_Planning] PRIMARY KEY CLUSTERED 
(
	[id_planning] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PossederBienProprietaire]    Script Date: 31-05-26 22:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PossederBienProprietaire](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_bien] [int] NULL,
	[id_pro] [int] NULL,
	[annee_acquisition] [datetime2](7) NULL,
 CONSTRAINT [PK_PossederBienProprietaire] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proprietaire]    Script Date: 31-05-26 22:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proprietaire](
	[id_pro] [int] IDENTITY(1,1) NOT NULL,
	[type_pro] [nvarchar](50) NULL,
	[id_personnes] [int] NULL,
 CONSTRAINT [PK_Proprietaire] PRIMARY KEY CLUSTERED 
(
	[id_pro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatutBien]    Script Date: 31-05-26 22:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatutBien](
	[id_sta] [int] IDENTITY(1,1) NOT NULL,
	[libelle_sta] [nvarchar](50) NULL,
	[date_mise_jour_sta] [datetime2](7) NULL,
 CONSTRAINT [PK_StatutBien] PRIMARY KEY CLUSTERED 
(
	[id_sta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeActivite]    Script Date: 31-05-26 22:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeActivite](
	[id_type] [int] IDENTITY(1,1) NOT NULL,
	[description_type] [nvarchar](50) NULL,
 CONSTRAINT [PK_TypeActivite] PRIMARY KEY CLUSTERED 
(
	[id_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeBien]    Script Date: 31-05-26 22:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeBien](
	[id_ty] [int] IDENTITY(1,1) NOT NULL,
	[description_type] [nvarchar](max) NULL,
 CONSTRAINT [PK_TypeBien] PRIMARY KEY CLUSTERED 
(
	[id_ty] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contrat] ADD  DEFAULT ('Vente') FOR [type_contrat]
GO
ALTER TABLE [dbo].[NoteBien] ADD  DEFAULT (CONVERT([date],getdate())) FOR [date_note]
GO
ALTER TABLE [dbo].[Acheteur]  WITH CHECK ADD  CONSTRAINT [FK_Acheteur_Personnes] FOREIGN KEY([id_personne])
REFERENCES [dbo].[Personnes] ([id_personne])
GO
ALTER TABLE [dbo].[Acheteur] CHECK CONSTRAINT [FK_Acheteur_Personnes]
GO
ALTER TABLE [dbo].[Activite]  WITH CHECK ADD  CONSTRAINT [FK_Activite_Planning] FOREIGN KEY([id_activite])
REFERENCES [dbo].[Activite] ([id_activite])
GO
ALTER TABLE [dbo].[Activite] CHECK CONSTRAINT [FK_Activite_Planning]
GO
ALTER TABLE [dbo].[Bien]  WITH CHECK ADD  CONSTRAINT [FK_Bien_Adresse] FOREIGN KEY([id_adresse])
REFERENCES [dbo].[Adresse] ([id_adresse])
GO
ALTER TABLE [dbo].[Bien] CHECK CONSTRAINT [FK_Bien_Adresse]
GO
ALTER TABLE [dbo].[Bien]  WITH CHECK ADD  CONSTRAINT [FK_Bien_Contrat] FOREIGN KEY([id_contrat])
REFERENCES [dbo].[Contrat] ([id_contrat])
GO
ALTER TABLE [dbo].[Bien] CHECK CONSTRAINT [FK_Bien_Contrat]
GO
ALTER TABLE [dbo].[Bien]  WITH CHECK ADD  CONSTRAINT [FK_Bien_StatutBien] FOREIGN KEY([id_status])
REFERENCES [dbo].[StatutBien] ([id_sta])
GO
ALTER TABLE [dbo].[Bien] CHECK CONSTRAINT [FK_Bien_StatutBien]
GO
ALTER TABLE [dbo].[Bien]  WITH CHECK ADD  CONSTRAINT [FK_Bien_TypeBien] FOREIGN KEY([id_ty])
REFERENCES [dbo].[TypeBien] ([id_ty])
GO
ALTER TABLE [dbo].[Bien] CHECK CONSTRAINT [FK_Bien_TypeBien]
GO
ALTER TABLE [dbo].[Contrat]  WITH CHECK ADD  CONSTRAINT [FK_OperationImmobiliere_Employe] FOREIGN KEY([id_emp])
REFERENCES [dbo].[Employe] ([id_emp])
GO
ALTER TABLE [dbo].[Contrat] CHECK CONSTRAINT [FK_OperationImmobiliere_Employe]
GO
ALTER TABLE [dbo].[DocumentBien]  WITH CHECK ADD  CONSTRAINT [FK_DocumentBien_Bien] FOREIGN KEY([id_bien])
REFERENCES [dbo].[Bien] ([id_bien])
GO
ALTER TABLE [dbo].[DocumentBien] CHECK CONSTRAINT [FK_DocumentBien_Bien]
GO
ALTER TABLE [dbo].[EffectuerOperationPersonne]  WITH CHECK ADD  CONSTRAINT [FK_EffectuerOperationPersonne_Contrat] FOREIGN KEY([id_contrat])
REFERENCES [dbo].[Contrat] ([id_contrat])
GO
ALTER TABLE [dbo].[EffectuerOperationPersonne] CHECK CONSTRAINT [FK_EffectuerOperationPersonne_Contrat]
GO
ALTER TABLE [dbo].[EffectuerOperationPersonne]  WITH CHECK ADD  CONSTRAINT [FK_EffectuerOperationPersonne_Personnes] FOREIGN KEY([id_personne])
REFERENCES [dbo].[Personnes] ([id_personne])
GO
ALTER TABLE [dbo].[EffectuerOperationPersonne] CHECK CONSTRAINT [FK_EffectuerOperationPersonne_Personnes]
GO
ALTER TABLE [dbo].[HistoriqueStatusBien]  WITH NOCHECK ADD  CONSTRAINT [FK_HistoriqueStatusBien_Bien] FOREIGN KEY([id])
REFERENCES [dbo].[Bien] ([id_bien])
GO
ALTER TABLE [dbo].[HistoriqueStatusBien] CHECK CONSTRAINT [FK_HistoriqueStatusBien_Bien]
GO
ALTER TABLE [dbo].[HistoriqueStatusBien]  WITH NOCHECK ADD  CONSTRAINT [FK_HistoriqueStatusBien_StatutBien] FOREIGN KEY([id])
REFERENCES [dbo].[StatutBien] ([id_sta])
GO
ALTER TABLE [dbo].[HistoriqueStatusBien] CHECK CONSTRAINT [FK_HistoriqueStatusBien_StatutBien]
GO
ALTER TABLE [dbo].[Locataire]  WITH CHECK ADD  CONSTRAINT [FK_Locataire_Personnes] FOREIGN KEY([id_personne])
REFERENCES [dbo].[Personnes] ([id_personne])
GO
ALTER TABLE [dbo].[Locataire] CHECK CONSTRAINT [FK_Locataire_Personnes]
GO
ALTER TABLE [dbo].[ParticiperActivitePersonne]  WITH CHECK ADD  CONSTRAINT [FK_ParticiperActivitePersonne_Activite] FOREIGN KEY([id_activite])
REFERENCES [dbo].[Activite] ([id_activite])
GO
ALTER TABLE [dbo].[ParticiperActivitePersonne] CHECK CONSTRAINT [FK_ParticiperActivitePersonne_Activite]
GO
ALTER TABLE [dbo].[ParticiperActivitePersonne]  WITH CHECK ADD  CONSTRAINT [FK_ParticiperActivitePersonne_Personnes] FOREIGN KEY([id_personne])
REFERENCES [dbo].[Personnes] ([id_personne])
GO
ALTER TABLE [dbo].[ParticiperActivitePersonne] CHECK CONSTRAINT [FK_ParticiperActivitePersonne_Personnes]
GO
ALTER TABLE [dbo].[Planning]  WITH CHECK ADD  CONSTRAINT [FK_Planning_Activite] FOREIGN KEY([id_activite])
REFERENCES [dbo].[Activite] ([id_activite])
GO
ALTER TABLE [dbo].[Planning] CHECK CONSTRAINT [FK_Planning_Activite]
GO
ALTER TABLE [dbo].[PossederBienProprietaire]  WITH CHECK ADD  CONSTRAINT [FK_PossederBienProprietaire_Bien] FOREIGN KEY([id_bien])
REFERENCES [dbo].[Bien] ([id_bien])
GO
ALTER TABLE [dbo].[PossederBienProprietaire] CHECK CONSTRAINT [FK_PossederBienProprietaire_Bien]
GO
ALTER TABLE [dbo].[PossederBienProprietaire]  WITH CHECK ADD  CONSTRAINT [FK_PossederBienProprietaire_Proprietaire] FOREIGN KEY([id_pro])
REFERENCES [dbo].[Proprietaire] ([id_pro])
GO
ALTER TABLE [dbo].[PossederBienProprietaire] CHECK CONSTRAINT [FK_PossederBienProprietaire_Proprietaire]
GO
ALTER TABLE [dbo].[Proprietaire]  WITH CHECK ADD  CONSTRAINT [FK_Proprietaire_Personnes] FOREIGN KEY([id_personnes])
REFERENCES [dbo].[Personnes] ([id_personne])
GO
ALTER TABLE [dbo].[Proprietaire] CHECK CONSTRAINT [FK_Proprietaire_Personnes]
GO
ALTER TABLE [dbo].[TypeActivite]  WITH CHECK ADD  CONSTRAINT [FK_Activite_TypeActivite] FOREIGN KEY([id_type])
REFERENCES [dbo].[TypeActivite] ([id_type])
GO
ALTER TABLE [dbo].[TypeActivite] CHECK CONSTRAINT [FK_Activite_TypeActivite]
GO
ALTER TABLE [dbo].[NoteBien]  WITH CHECK ADD CHECK  (([note]>=(1) AND [note]<=(5)))
GO
USE [master]
GO
